body {
    background-color: rgb(244, 244, 166);
}

header{
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
}

footer{
    padding-bottom: 10px;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
    padding-left: 40px;
    padding-right: 40px;
    
}