
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f4770a;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

#search {
    margin-left: 20%;
    width: 60%;

}

.user-form {
  width: 100%;
  max-width: 700px;
}

.user-form input {
  width: 100%;
  display: block;
  background-color: #4c2885;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 1rem;
  margin-bottom: 2rem;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
}

.user-form input::placeholder {
  color: #bbb;
}

.user-form input:focus {
  outline: none;
}

.card {
  max-width: 800px;
  background-color: #4c2885;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 3rem;
  margin: 0 1.5rem;
}

.avatar {
  border-radius: 50%;
  border: 10px solid #2a2a72;
  height: 150px;
  width: 150px;
}

.user-info {
  color: #eee;
  margin-left: 2rem;
}

.user-info h2 {
  margin-top: 0;
}

.user-info ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-width: 400px;
}

.user-info ul li {
  display: flex;
  align-items: center;
}

.user-info ul li strong {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.repo {
  text-decoration: none;
  color: #fff;
  background-color: #212a72;
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
} 
@media (max-width: 500px) {
  .card {
    flex-direction: column;
    align-items: center;
  }

  .user-form {
    max-width: 500px;
  }
}
/*
body { 
    background-color: rgb(228, 85, 9);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
 }
h1{
    font-size: 2cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration-color: white;
}
header{
    padding-left: 100px;
    padding-right: 100px; 
    height: 150px;
    padding-top: 40px;
    width: 88.20%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: rgba(128, 128, 128, 0.772);
}
.container {
    width: 86%;
    height: 580px;
    background-color: rgba(128, 128, 128, 0.772);
    position: relative;
    align-self: center;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 40px;
    padding-bottom: 40px;
}
img {
    width: 200px;
    height: 200px;
    padding-left: 40px;
    padding-right: 40px; 
    padding-bottom: 40px;
    padding-top: 40px; 
}
.bouquetinput {
    position: absolute;
    width: 400px;
    height: 450px;
    left: 30px;
    top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 2px solid grey; 
    box-shadow: 2px 5px 5px #333;
    background-color: rgb(228, 85, 9);   
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
}
h2 {
    color: white;
}
.images {
    background-color: black;
    display: flex;
    width: 40%;
    height: 560px;
    position: absolute;
    left: 30%;
    justify-content: center;
    flex-wrap: wrap;
}
.img{
    width: 150px;
    height: 150px;
    
}
#bouquetoutput {
    left: 75%;
    right: 30px;
    top: 50px;
    display: flex;
    justify-content: space-between;
    border: 7px solid rgb(228, 85, 9); 
    box-shadow: 2px 5px 5px #333; 
    padding-right: 20px; 
    padding-left: 30px;
    padding-top: 30px;
    position: absolute;
    width: 350px;
    height: 450px;
    top: 50px;
    background-color:rgba(128, 128, 128, 0.767);

}
.enter {
    width: 2cm;
    height: 1cm;
}
.button {
    position: relative;
    width: 3cm;
    height: 1.5cm;
    top: 85%;
    left: 0.5%;
}