body { 
    background-color: rgb(228, 85, 9);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
 }
h1{
    font-size: 2cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration-color: white;
}
header{
    padding-left: 100px;
    padding-right: 100px; 
    height: 150px;
    padding-top: 40px;
    width: 88.20%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: rgba(128, 128, 128, 0.772);
}
.container {
    width: 86%;
    height: 580px;
    background-color: rgba(128, 128, 128, 0.772);
    position: relative;
    align-self: center;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 40px;
    padding-bottom: 40px;
}
img {
    width: 200px;
    height: 200px;
    padding-left: 40px;
    padding-right: 40px; 
    padding-bottom: 40px;
    padding-top: 40px; 
}
.bouquetinput {
    position: absolute;
    width: 400px;
    height: 450px;
    left: 30px;
    top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 2px solid grey; 
    box-shadow: 2px 5px 5px #333;
    background-color: rgb(228, 85, 9);   
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
}
h2 {
    color: white;
}
.images {
    background-color: black;
    display: flex;
    width: 40%;
    height: 560px;
    position: absolute;
    left: 30%;
    justify-content: center;
    flex-wrap: wrap;
}
.img{
    width: 150px;
    height: 150px;
    
}
#bouquetoutput {
    left: 75%;
    right: 30px;
    top: 50px;
    display: flex;
    justify-content: space-between;
    border: 7px solid rgb(228, 85, 9); 
    box-shadow: 2px 5px 5px #333; 
    padding-right: 20px; 
    padding-left: 30px;
    padding-top: 30px;
    position: absolute;
    width: 350px;
    height: 450px;
    top: 50px;
    background-color:rgba(128, 128, 128, 0.767);

}
.enter {
    width: 2cm;
    height: 1cm;
}
.button {
    position: relative;
    width: 3cm;
    height: 1.5cm;
    top: 85%;
    left: 0.5%;
}